<p>
  <mat-toolbar>
    <span>Text to QrCode</span>
  </mat-toolbar>
</p>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Text to Qr Code</mat-label>
    <input matInput placeholder="Ex. Hallo World" name="first" type="text" [(ngModel)]="qrcodetext">
  </mat-form-field>
  <button mat-raised-button (click)="generateQrCode()">generate</button>


<div>
<qrcode [qrdata]="qrcode" [width]="512" [allowEmptyString]="true" [errorCorrectionLevel]="'M'"></qrcode>
</div>